<% provide(:title, @subject.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="subject_info">
      <h1>
        <%= @subject.name %>
        <%= @subject.info %>
      </h1>
    </section>
  </aside>
</div>